.chat-main
  .chat-main__header
    .chat-main__header__left-box
    %h2.chat-main__header__left-box__group グループ名
    %ul.chat-main__header__left-box__members 名前
  .chat-main__messages
  .chat-main__form