.side-bar
        名前
      .name-box__right
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__user-name 名前
      .side-bar__header__box__menu
        = link_to "#", class: "menu__icon" do
          = icon('far fa-edit', class: "menu__edit__btn")
        = link_to "#", class: "menu__icon" do
          = icon('fas fa-cog', class: "menu__cog__btn")
  .side-bar__groups
    .side-bar__groups__box
      %p.side-bar__groups__box__group-name グループ名
      %p.side-bar__groups__box__latest-message 新着メッセージ
    .side-bar__groups__box
      %p.side-bar__groups__box__group-name グループ名
      %p.side-bar__groups__box__latest-message 新着メッセージ

